/*-- scss:rules --*/

$headings-font-family: "Jost";

$web-font-path: "https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap" !default;

@if $web-font-path {
  @import url($web-font-path);
}


body {
  font-size: 20px; /* Adjust the value as needed */
}


.teaching {
    .course-entry {
        display: flex;
        flex-direction: row;
        font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 3em;
        column-gap: 0.7em;
        align-items: center;

        .body {
            flex: 1 1 auto;
        }

        .logo {
            flex: 0 0 140px;

            img {
                width: 100%;
            }
        }

        .course-title {
            font-weight: 500;
            font-size: 1.25em;
            margin-bottom: 0.2em;
        }
        
        .course-details {
            font-weight: 300;
            font-size: 0.9em;
            margin-bottom: 0.5em;
            color: $gray-800;
        }

        .course-description {
            font-weight: 300;
            font-size: 1.1em;
            margin-bottom: 0.5em;
        }

        .course-role {
            font-weight: 500;
        }

        ul.course-semesters {
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                white-space: nowrap;
                margin: 0 0.2em 0.4em 0;
                padding: 0.2em 0.4em;
                font-size: 0.85em;
                border-radius: 0.25rem;

                &.no-link {
                    border: 1px solid $black;
                }

                a {
                    color: $white;
                }
            }
        }
    }
}


a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

